[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/eigen"]
	path = ThirdParty/eigen
	url = https://gitlab.com/libeigen/eigen.git
